{% extends 'products/base.html' %}
{% load static humanize %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
<!-- Page Content -->
{% if object.initiator == request.user %}
<section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Заказ #{{ object.id }}</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for purchased_item in object.basket_history.purchased_items %}
                    <tr>
                        <th scope="row">
                            {{ purchased_item.product_name }}
                        </th>
                        <td>{{ purchased_item.quantity }}</td>
                        <td>{{ purchased_item.price|intcomma }} руб.</td>
                        <td>{{ purchased_item.sum|intcomma }} руб.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="float-right h4 mt-3">Итого: {{ object.basket_history.total_sum|intcomma }} руб.</p>
            </div>
        </div>
    </div>
</section>
{% else %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Неверный пользователь</h3>
                        </div>
                        <div class="card-body text-center">
                            <h4>Вы не можете просматривать чужые заказы!</h4>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small"><a href="{% url 'index' %}">Продолжить</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endif %}
{% endblock %}