{% extends 'products/base.html' %}
{% load static humanize %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/orders.css' %}">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказы</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Создан</th>
                            <th scope="col">Итого</th>
                            <th scope="col">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in object_list %}
                            <tr class="{% if order.status == 0 %}table-light{% elif order.status == 1 %}table-info{% elif order.status == 3 %}table-success{% endif %}">
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.get_status_display }}</td>
                                <td>{{ order.created|naturaltime }}</td>
                                <td>{{ order.basket_history.total_sum|intcomma }} {% if order.basket_history %}
                                    руб.{% else %}-{% endif %}</td>
                                {% if not order.status == 0 %}
                                    <td>
                                        <a href="{% url 'orders:order-detail' order.id %}">просмотреть</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}