{% extends 'products/base.html' %}
{% load static %}
{% block title %}
<title>{{ title }}</title>
{% endblock %}
{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5 text-info bg-light mr-4">UltraStore</h1>
                <p class="text-light bg-info ml-5">
                    Только Ultra бренды. Бесплатная доставка по всему миру(была бы, если бы сайт был настоящим)!
                </p>
                <button id="start-purchase-btn" type="button" class="ml-2 btn btn-lg bg-success">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
